<% include partials/header %>

    <div class="container text-center">
        <% if(locals.err) { %>
            <p class="alert alert-danger"> <%= err %> </p>
            <a href="/" class="btn btn-lg btn-danger">Back to Home !</a>
        <% } else {%>

            <form class="form-horizontal col-md-8 col-md-offset-2" method="post" action="/compose">
            <fieldset>

            <!-- Form Name -->
            <legend>Send OTP SMS</legend>
            <div class="col-md-3 text-center">
                <img class="img-circle" src="<%=data.image%>" style="height:50px; width:50px;"><br><br>
                <span class="text-primary" style="font-size:1.5em;">
                    <a href="/contacts/details/<%=data.mobile%>" class="">
                        <%= data.firstName + ' ' + data.lastName %>
                    </a>
                </span><br><br>
            
            </div>
            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-2 control-label" for="message">Message : </label>  
            <div class="col-md-6">
            <input id="message" name="message" type="text" placeholder="" class="form-control input-md" required="" value="<%='Hi. Your OTP is: ' + data.otp %>">
            <span class="help-block">Refresh the page to generate new <b>OTP.</b>
            <br>Message body range is limited from 22 to 100 characters only!</span>
            <input type="hidden" name="mobile" value="<%= data.mobile %>" >
            <input type="hidden" name="otp" value="<%= data.otp %>" >
            </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-primary">
                    Send Message &nbsp;
                <span class="glyphicon glyphicon-menu-right"></span></button>
                <a href="/" name="" class="btn btn-danger">Back to Home</a>
            </div>
            </div>

            </fieldset>
            </form>



        <% }%>
    </div>

<% include partials/footer %>