<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <% if(locals.err) {%>
                    <p class="alert alert-danger"><%= err %></p>
                <% 
                    } else { 
                        let status = '';
                        if(sms.status === 200) {
                            status = 'Sent';
                        } 
                %>
                    <h2 class="text-success">Message Details</h2>
                    <hr>
                    <div class="alert alert-success" style="color:black;font-size:1.2em">
                        <p style="font-size:2em;display:inline-block" class="">
                            <a href="/contacts/details/<%= sms.to%>" class="alert alert-warning">
                                <%= sms.recepientName %></a> &nbsp;&nbsp;<span class="helper" style="font-size:0.5em;">[Click on name to see details]</span>
                        </p>
                        <hr>
                        <p><b>Mobile number :</b>
                            <span class="text-danger" style="font-size:1.5em; font-weight:bolder;"><%= '+' + sms.to %></span></p>
                        <p><b>Message Body : </b> 
                            <span class="text-danger" style="font-size:1.5em; font-weight:bolder;"><%= sms.body %></span>
                        </p>
                        <p><b>Sent On : </b> <b><%= new Date(sms._sentAt).toString() %></b></p>
                        <p><b>Status : </b><span class="text-success glyphicon glyphicon-ok"></span>
                        &nbsp;(<%= status%>) </p>
                    </div>
                    <hr>              
                <% }%>
                <a href="/sent" class="btn btn-primary btn-md">Back to Sent Messages</a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="/" class="btn btn-danger btn-md">Home</a>      
            </div>
        </div>
    </div>

<% include partials/footer %>
